include LICENSE
include MANIFEST.in
include README.rst
include requirements.txt
include setuplib.py
recursive-include feincms_cleanse/static *
recursive-include feincms_cleanse/locale *
recursive-include feincms_cleanse/templates *
